input {
  box-shadow: 0;
  outline: 0;
}
.range-slider, .mobile-range-slider {
  width: 300px;
  position: relative;
  height: 3em;
}
.range-slider input[type=range],
.mobile-range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
}
.mobile-range-slider input[type=number] {
  border: 1px solid #ddd;
  border-radius: 20px;
  text-align: center;
  color: hsl(0, 0%, 48%);
  width: 95px;
  padding: 0.45rem;
  -moz-appearance: textfield;
}
.range-slider input[type=number] {
  border: 1px solid #ddd;
  border-radius: 20px;
  text-align: center;
  color: hsl(0, 0%, 48%);
  width: 80px;
  -moz-appearance: textfield;
}
.range-slider input[type=number]:focus,
.mobile-range-slider input[type=number]:focus {
  color: black;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number]:invalid,
input[type=number]:out-of-range {
  border: 2px solid #ff6347;
}
input[type=range] {
  -webkit-appearance: none;
  width: 54%;
}
.mobile-range-slider input[type=range] {
  -webkit-appearance: none;
  width: 65%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e67e22;
}
input[type=range]:focus::-ms-fill-lower {
  background: #e67e22;
}
input[type=range]:focus::-ms-fill-upper {
  background: #e67e22;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #e67e22;
  border-radius: 10px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #e67e22;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #f1c40f /*#a1d0ff*/;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #e67e22;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #e67e22;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #f1c40f /*#a1d0ff*/;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #e67e22;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #e67e22;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #f1c40f /*#a1d0ff*/;
  cursor: pointer;
}

@media screen and (min: 1024px) {
  input {
    box-shadow: 0;
    outline: 0;
  }
  .range-slider {
    width: 300px;
    margin: auto;
    position: relative;
    height: 3em;
  }
  .range-slider svg,
  .range-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .range-slider input[type=number] {
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    color: hsl(0, 0%, 48%);
    width: 78px;
    -moz-appearance: textfield;
  }
  .range-slider input[type=number]:focus {
    color: black;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type=number]:invalid,
  input[type=number]:out-of-range {
    border: 2px solid #ff6347;
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 54%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e67e22;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #e67e22;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #e67e22;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #e67e22;
    border-radius: 10px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #e67e22;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #f1c40f /*#a1d0ff*/;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #e67e22;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #e67e22;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #f1c40f /*#a1d0ff*/;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower,
  input[type=range]::-ms-fill-upper {
    background: #e67e22;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #e67e22;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #f1c40f /*#a1d0ff*/;
    cursor: pointer;
  }
}
